.example-container {
  height: 100vh;
}

.menu-button {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

mat-sidenav {
  width: 200px;
  background: #3f51b5;
  color: white;
  overflow: hidden;
  transition: all 0.3s ease;
}

mat-sidenav.opened {
  width: 250px;
}

mat-sidenav-content {
  transition: margin-left 0.3s ease;
  margin-left: 60px;
}

mat-sidenav.opened + mat-sidenav-content {
  margin-left: 250px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 30px;
  margin: 15px 0;
}

mat-icon {
  margin-right: 8px;
}

.btn-icon {
  display: flex;
  align-items: center;
  width: 100%;
  color: white;
  justify-content: flex-start;
}

.btn-icon p {
  margin-left: 8px;
  margin: 0;
  display: none;
}

.opened .btn-icon p {
  display: inline;
}
