body,
html {
  height: 100%;
  margin: 0;
  font-family: 'Arial', sans-serif;
}

.container-fluid {
  height: 100vh; /* Asegúrate de que ocupa toda la altura */
  padding-left: 0;
  padding-right: 0;
}

.login-container {
  height: 100vh; /* Mantener la altura completa */
}

.row {
  height: 100%; /* El row debe ocupar toda la altura */
  margin-right: 0;
  margin-left: 0;
}

.left-panel,
.right-panel {
  height: 100%; /* Asegura que ambas columnas ocupen el 100% de la altura del contenedor */
  margin: 0;
  padding: 0;
}

.left-panel {
  background: blue;
  color: white;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.right-panel {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-box {
  width: 350px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}
